.copyright-section {
    width: 100%;
    background: #000000 0% 0% no-repeat padding-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.35em solid #1AE0EC;

    p {
        color: #1AE0EC;
        margin: 0;
        font: normal normal normal .56rem/1.45em 'Heebo', sans-serif;
    }

    #copy {
        font-weight: 300;
        padding-left: 1em;
    }

    #name {
        padding-right: 1em;
    }
}

@media (min-width: 600px) { // responsive for tablet and desktop screen size
    .copyright-section {
        border-bottom-width: .4em;

        p {
            font: normal normal normal 1.25rem/1.45em "Heebo", sans-serif;
        }

        #copy {
            font-weight: 300;
            padding-left: 2.79em;
        }

        #name {
            padding-right: 2.79em;
        }
    }
}