.project-container {
    width: 100%;
    height: 100%;
    background: $clr-sky-blue 0% 0% no-repeat padding-box;

    .content-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
        gap: 11px 0;
        padding-bottom: 1.5em;
        justify-items: center;
        align-items: center;


        .first-view {
            background: $clr-blue 0% 0% no-repeat padding-box;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            grid-row: span 2;
            grid-column: span 2;
            padding: 4rem; // for making sure the elemwnt will take full space of 2 columns

            h1 {
                font-family: $ff-assistant;
                font-size: 2.25rem;
                line-height: 1.31em;
                font-weight: $fw-bold;
                color: $clr-light-blue;
                margin-bottom: .39em;
            }

            h6 {
                font-family: $ff-assistant;
                font-size: 1.25rem;
                line-height: 1.3em;
                font-weight: $fw-regular;
                color: $clr-white-shadow;
            }
        }

        .experience-form {
            background: $clr-purple 0% 0% no-repeat padding-box;
            text-align: center;
            grid-row: span 3;
            grid-column: span 2;
            justify-self: stretch;
            align-self: stretch;
            // for making the space on both sides of the form
            width: 95%;
            margin: 0 auto;

            h1 {
                font-family: $ff-assistant;
                font-size: 1.563rem;
                line-height: 1.32em;
                font-weight: $fw-bold;
                color: $clr-white;
                margin: 2.33em auto .56em;
            }

            h6 {
                max-width: 278px;
                font-family: $ff-assistant;
                font-size: .938rem;
                line-height: 1.27em;
                font-weight: $fw-regular;
                color: $clr-white-shadow;
                margin: 0 auto 2em;
            }

            form {
                max-width: 278px;
                display: flex;
                flex-direction: column;
                text-align: left;
                margin: 0 auto 3.9em;

                .headline {
                    font-family: $ff-heebo;
                    font-size: .438rem;
                    line-height: 1.43em;
                    font-weight: $fw-bold;
                    color: $clr-light-blue;
                    margin-bottom: .75em;
                }

                .text {
                    min-height: 33px;
                    background: $clr-white-shadow 0% 0% no-repeat padding-box;
                    border: $clr-white-shadow;
                    border-bottom: 3px solid $clr-light-blue;
                }

                textarea.text {
                    min-height: 96px;
                }

                .text + .headline {
                    margin-top: 2em;
                }

                #submit {
                    min-height: 33px;
                    background: $clr-light-blue 0% 0% no-repeat padding-box;
                    border: $clr-light-blue;
                    font-family: $ff-heebo;
                    font-size: .75rem;
                    line-height: 1.34em;
                    font-weight: $fw-bold;
                    letter-spacing: 0.18px;
                    color: #011560;
                    margin-top: .94em;
                }
            }
        }

        .decoration-img {
            max-width: 159px;
        }
    }
}

@media (min-width: 800px) {
    .project-container { 
        padding: 6rem;

        .content-container {
            grid-template-columns: repeat(auto-fit, minmax(296px, 1fr));
            gap: 19px;
        }
    }
}