$clr-white: #FFFFFF;
$clr-white-shadow: #F9F9F9;
$clr-light-blue: #0EE1DA;
$clr-sky-blue: #E5EEFF;
$clr-gray: #00000029;
$clr-purple: #8E097C;
$clr-blue: #020253;
$clr-blue2: #011560;

$ff-heebo: "Heebo", sans-serif;
$ff-assistant: "Assistant", sans-serif;

$fw-regular: normal;
$fw-bold: bold;