* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.project-container {
  width: 100%;
  height: 100%;
  background: #E5EEFF 0% 0% no-repeat padding-box;
}
.project-container .content-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  gap: 11px 0;
  padding-bottom: 1.5em;
  justify-items: center;
  align-items: center;
}
.project-container .content-container .first-view {
  background: #020253 0% 0% no-repeat padding-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-row: span 2;
  grid-column: span 2;
  padding: 4rem;
}
.project-container .content-container .first-view h1 {
  font-family: "Assistant", sans-serif;
  font-size: 2.25rem;
  line-height: 1.31em;
  font-weight: bold;
  color: #0EE1DA;
  margin-bottom: 0.39em;
}
.project-container .content-container .first-view h6 {
  font-family: "Assistant", sans-serif;
  font-size: 1.25rem;
  line-height: 1.3em;
  font-weight: normal;
  color: #F9F9F9;
}
.project-container .content-container .experience-form {
  background: #8E097C 0% 0% no-repeat padding-box;
  text-align: center;
  grid-row: span 3;
  grid-column: span 2;
  justify-self: stretch;
  align-self: stretch;
  width: 95%;
  margin: 0 auto;
}
.project-container .content-container .experience-form h1 {
  font-family: "Assistant", sans-serif;
  font-size: 1.563rem;
  line-height: 1.32em;
  font-weight: bold;
  color: #FFFFFF;
  margin: 2.33em auto 0.56em;
}
.project-container .content-container .experience-form h6 {
  max-width: 278px;
  font-family: "Assistant", sans-serif;
  font-size: 0.938rem;
  line-height: 1.27em;
  font-weight: normal;
  color: #F9F9F9;
  margin: 0 auto 2em;
}
.project-container .content-container .experience-form form {
  max-width: 278px;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 auto 3.9em;
}
.project-container .content-container .experience-form form .headline {
  font-family: "Heebo", sans-serif;
  font-size: 0.438rem;
  line-height: 1.43em;
  font-weight: bold;
  color: #0EE1DA;
  margin-bottom: 0.75em;
}
.project-container .content-container .experience-form form .text {
  min-height: 33px;
  background: #F9F9F9 0% 0% no-repeat padding-box;
  border: #F9F9F9;
  border-bottom: 3px solid #0EE1DA;
}
.project-container .content-container .experience-form form textarea.text {
  min-height: 96px;
}
.project-container .content-container .experience-form form .text + .headline {
  margin-top: 2em;
}
.project-container .content-container .experience-form form #submit {
  min-height: 33px;
  background: #0EE1DA 0% 0% no-repeat padding-box;
  border: #0EE1DA;
  font-family: "Heebo", sans-serif;
  font-size: 0.75rem;
  line-height: 1.34em;
  font-weight: bold;
  letter-spacing: 0.18px;
  color: #011560;
  margin-top: 0.94em;
}
.project-container .content-container .decoration-img {
  max-width: 159px;
}

@media (min-width: 800px) {
  .project-container {
    padding: 6rem;
  }
  .project-container .content-container {
    grid-template-columns: repeat(auto-fit, minmax(296px, 1fr));
    gap: 19px;
  }
}/*# sourceMappingURL=main.css.map */