.project-container {
    width: 100%;
    height: 100%;
    background-image: url("../../images/purpleBackground.png");
    background-size: 100% 33.33%;
    background-repeat: no-repeat;
    display: flex;

    form {
        width: clamp(299px, 70%, 569px); // (min value, desired value, max value)
        background: #1A1A1AD4 0% 0% no-repeat padding-box;
        margin: 5.5625em auto 8em;

        .content {
            width: clamp(230px, 80%, 418px);
            margin: 3em auto;

            h4 {
                width: 60%;
                font: normal normal 900 1.56rem/1.2em "Heebo", sans-serif;
                color: #FFFFFF;
                text-align: center;
                margin: 0 auto;
            }

            p {
                width: 100%;
                font: normal normal normal .94rem/1.47em "Heebo", sans-serif;
                color: #F9F9F9;
                text-align: center;
                margin-top: .85em;
            }

            .field-section {
                // container of the headline and text elements in the form
                width: 100%;
                text-align: left;
                margin-top: 1.4em;
                display: flex;
                flex-direction: column;
                color: #FFFFFF;
                border: 0;

                .headline {
                    font: normal normal 900 .88rem/1.49em "Heebo", sans-serif;
                }

                .text+.headline {
                    // create a spacec between the sets of headline and text in the form
                    margin-top: 1.77em;
                }

                .text {
                    background: #FFFFFF 0% 0% no-repeat padding-box;
                    border: .1em solid #D31C75;
                    min-height: 28px;
                }
            }

            #submit {
                width: clamp(76px, 33.33%, 166px);
                min-height: 33px;
                background: #D31C75 0% 0% no-repeat padding-box;
                font: normal normal 900 .94rem/1.33em "Heebo", sans-serif;
                letter-spacing: 0.014em;
                color: #FFFFFF;
                margin-top: 1.1em;
            }
        }
    }
}

@media (min-width: 900px) {

    // responsive big tablet and desktop screen size
    .project-container {
        background-size: 100% 55%;

        form {

            .content {
                margin: 4.7em auto 8.7em;

                h4 {
                    width: 100%;
                    font: normal normal 900 2.25rem/1.47em "Heebo", sans-serif;
                }

                p {
                    font: normal normal normal 1.25rem/1.45em "Heebo", sans-serif;
                }

                .field-section {
                    .headline {
                        font: normal normal 900 1rem/1.5em "Heebo", sans-serif;
                    }

                    .text+.headline {
                        margin-top: 1.13em;
                    }

                    .text {
                        padding: 1em;
                    }
                }

                #submit {
                    font: normal normal 900 1.375rem/1.364em "Heebo", sans-serif;
                    margin-top: 1.6em;
                    padding: .41em;
                }
            }
        }
    }
}