.project-container {
    width: 100%;
    height: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    position: absolute;

    .top-page-style {
        width: 90%;
        min-height: 10px;
        background: $clr-yellow;
        margin: 0 0 auto auto;
    }

    .solo-bg-icon {
        display: none;
    }

    .content-container {
        display: flex;
        flex-direction: column;

        img[alt="SMS chat"] {
            max-width: 79px;
            margin: 3em auto 0;
            order: 1;
        }

        .contact-container {
            width: 85%;
            margin: 3em auto 0;
            text-align: center;
            order: 2;

            h1 {
                font-size: 2.5rem;
                line-height: 1.48em;
                font-weight: $fw-black;
                color: $clr-yellow;
                margin: 0 auto .23em;
            }

            h6 {
                max-width: 385px;
                font-size: .938rem;
                line-height: 1.47em;
                font-weight: $fw-regular;
                color: $clr-blue;
                margin: 0 auto 2.29em;
            }

            form {
                max-width: 855px;
                max-height: 381px;

                .wrapper-container {

                    .wrapper {
                        display: flex;
                        flex-direction: column;

                        .headline {
                            text-align: left;
                            font-size: .625rem;
                            line-height: 1.4em;
                            font-weight: $fw-bold;
                            color: $clr-gray;
                        }

                        .text {
                            background: $clr-light-blue 0% 0% no-repeat padding-box;
                            border: $clr-light-blue;
                            border-bottom: 3px solid $clr-yellow;
                            min-height: 37px;
                        }
                    }

                    .wrapper + .wrapper {
                        margin: .96em 0 .98em 0;
                    }
                }

                .wrapper {
                    @include wrapper;

                    .headline {
                        @include headline;
                    }

                    .text {
                        @include text;
                        min-height: 106px;
                    }
                }

                #submit {
                    width: 100%;
                    min-height: 37px;
                    background: $clr-yellow 0% 0% no-repeat padding-box;
                    font-size: .938rem;
                    line-height: 1.4em;
                    font-weight: $fw-bold;
                    color: $clr-black;
                    margin: 1.17em 0 9.66em 0;
                    border: $clr-light-gray;
                }
            }
        }
    }

    .iconsSet {
        max-width: 236px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto 1.63em;

        .bg-icon {
            min-width: 46px;
            min-height: 46px;
            background: $clr-yellow 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 6px $clr-light-gray;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;

            img {
                max-width: 17px;
                max-height: 17px;
            }
        }
    }

    .bottom-page-style {
        width: 100%;
        min-height: 10px;
        background: $clr-yellow;
    }
}

@media (min-width: 900px) {
    .project-container {

        .top-page-style {
            width: 22.7%;
            max-width: 434px;
            min-height: 18px;
        }

        .solo-bg-icon {
            @include bg-icon;
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 95px;
            max-height: 95px;
            height: 100%;
            margin: 2.8125em auto auto 4.0625em;

            img {
                max-width: 54px;
                max-height: 54px;
                display: flex;
                margin: 0 auto;
            }
        }

        .content-container {
            flex-direction: row;

            img[alt="SMS chat"] {
                max-width: 280px;
                min-height: 804px;
                order: 2;
                margin: 0 auto auto 5em;
                object-fit: contain;
            }

            .contact-container {
                max-width: 855px;
                order: 1;
                margin: 4.25em 0 18.6875em 11.4375em;
                text-align: left;

                h1 {
                    font-size: 4.125rem;
                    line-height: 1.47em;
                    font-weight: $fw-black;
                    margin: 0 auto .23em 0;
                }

                h6 {
                    max-width: 385px;
                    font-size: 1.25rem;
                    line-height: 1.45em;
                    font-weight: $fw-regular;
                    margin: 0 auto 1.9em 0;
                }

                form {

                    .wrapper-container {
                        display: flex;
                        margin-bottom: .9375em;

                        .wrapper + .wrapper {
                            margin: 0 0 0 1.22em;
                        }

                        .wrapper {
                            width: 100%;

                            .headline {
                                font-size: 1rem;
                                line-height: 1.5em;
                                font-weight: $fw-bold;
                            }

                            .text {
                                min-height: 50px;
                            }
                        }
                    }

                    .wrapper {

                        .headline {
                            font-size: 1rem;
                            line-height: 1.5em;
                            font-weight: $fw-bold;
                        }

                        .text {
                            min-height: 143px;
                        }
                    }

                    #submit {
                        max-width: 166px;
                        font-size: 1.375rem;
                        line-height: 1.65em;
                        font-weight: $fw-bold;
                        margin: 3.34em auto 0 0;
                    }
                }
            }
        }

        .iconsSet {
            max-width: 494px;
            margin: auto auto 2.38em 3.45em;

            .bg-icon {
                min-width: 95px;
                min-height: 95px;

                img {
                    max-width: 32px;
                    max-height: 32px;
                }
            }
        }

        .bottom-page-style {
            width: 54.0625%;
            min-height: 18px;
            margin: 0 auto 0 0;
        }
    }
}

@media (min-width: 1500px) {
    .project-container {
        .content-container {
            img[alt="SMS chat"] {
                margin: 0 10.375em auto 11.3125em;
                max-width: 535px;
                max-height: 804px;
            }
        }
    }
}