* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: "Heebo", sans-serif;
}

.project-container {
  width: 100%;
  height: 100%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  display: flex;
  flex-direction: column;
}
.project-container .top-page-style {
  width: 90%;
  min-height: 10px;
  background: #FDBD03;
  margin: 0 0 2em auto;
}
.project-container .solo-bg-icon {
  display: none;
}
.project-container .content-container {
  display: flex;
  flex-direction: column;
}
.project-container .content-container img[alt="SMS chat"] {
  max-width: 79px;
  margin: 3em auto 0;
  order: 1;
}
.project-container .content-container .contact-container {
  width: 85%;
  margin: 3em auto 0;
  text-align: center;
  order: 2;
}
.project-container .content-container .contact-container h1 {
  font-size: 2.5rem;
  line-height: 1.48em;
  font-weight: 900;
  color: #FDBD03;
  margin: 0 auto 0.23em;
}
.project-container .content-container .contact-container p {
  max-width: 385px;
  font-size: 0.938rem;
  line-height: 1.47em;
  font-weight: 400;
  color: #020253;
  margin: 0 auto 1em 0;
}
.project-container .content-container .contact-container form {
  max-width: 855px;
  margin: 0 auto 7em;
}
.project-container .content-container .contact-container form .wrapper-container {
  border: 0;
}
.project-container .content-container .contact-container form .wrapper-container .wrapper {
  display: flex;
  flex-direction: column;
}
.project-container .content-container .contact-container form .wrapper-container .wrapper .headline {
  text-align: left;
  font-size: 0.625rem;
  line-height: 1.4em;
  font-weight: 700;
  color: #2C2C2C;
}
.project-container .content-container .contact-container form .wrapper-container .wrapper .text {
  background: #E5EEFF 0% 0% no-repeat padding-box;
  border: #E5EEFF;
  border-bottom: 3px solid #FDBD03;
  min-height: 37px;
  max-height: 50px;
}
.project-container .content-container .contact-container form .wrapper-container .wrapper + .wrapper {
  margin: 0.96em 0 0.98em 0;
}
.project-container .content-container .contact-container form .wrapper {
  display: flex;
  flex-direction: column;
}
.project-container .content-container .contact-container form .wrapper .headline {
  text-align: left;
  font-size: 0.625rem;
  line-height: 1.4em;
  font-weight: 700;
  color: #2C2C2C;
}
.project-container .content-container .contact-container form .wrapper .text {
  background: #E5EEFF 0% 0% no-repeat padding-box;
  border: #E5EEFF;
  border-bottom: 3px solid #FDBD03;
  min-height: 37px;
  max-height: 50px;
  min-height: 106px;
}
.project-container .content-container .contact-container form #submit {
  width: 100%;
  min-height: 37px;
  background: #FDBD03 0% 0% no-repeat padding-box;
  font-size: 0.938rem;
  line-height: 1.4em;
  font-weight: 700;
  color: #000000;
  margin-top: 1.17em;
  border: rgba(0, 0, 0, 0.1607843137);
}
.project-container .icons-set {
  max-width: 236px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto auto 1.63em;
}
.project-container .icons-set .bg-icon {
  min-width: 46px;
  min-height: 46px;
  background: #FDBD03 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.project-container .icons-set .bg-icon img {
  max-width: 17px;
  max-height: 17px;
}
.project-container .bottom-page-style {
  width: 100%;
  min-height: 10px;
  background: #FDBD03;
  margin: 1em 0 0 0;
}

@media (min-width: 900px) {
  .project-container .top-page-style {
    width: 22.7%;
    max-width: 434px;
    min-height: 18px;
  }
  .project-container .solo-bg-icon {
    min-width: 46px;
    min-height: 46px;
    background: #FDBD03 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    min-width: 95px;
    min-height: 95px;
    margin: 0 auto auto 2.5em;
  }
  .project-container .solo-bg-icon img {
    max-width: 54px;
    max-height: 54px;
    display: flex;
    margin: 0 auto;
    height: 100%;
  }
  .project-container .content-container {
    flex-direction: row;
  }
  .project-container .content-container img[alt="SMS chat"] {
    max-width: 280px;
    min-height: 804px;
    order: 2;
    margin: 0 auto auto 5em;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .project-container .content-container .contact-container {
    max-width: 855px;
    order: 1;
    margin-left: 11em;
    text-align: left;
  }
  .project-container .content-container .contact-container h1 {
    font-size: 4.125rem;
    line-height: 1.47em;
    font-weight: 900;
    margin: 0 auto 0.23em 0;
  }
  .project-container .content-container .contact-container h6 {
    max-width: 385px;
    font-size: 1.25rem;
    line-height: 1.45em;
    font-weight: 400;
    margin: 0 auto 1.9em 0;
  }
  .project-container .content-container .contact-container form .wrapper-container {
    display: flex;
    margin-bottom: 0.9375em;
  }
  .project-container .content-container .contact-container form .wrapper-container .wrapper + .wrapper {
    margin: 0 0 0 1.22em;
  }
  .project-container .content-container .contact-container form .wrapper-container .wrapper {
    width: 100%;
  }
  .project-container .content-container .contact-container form .wrapper-container .wrapper .headline {
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 700;
  }
  .project-container .content-container .contact-container form .wrapper-container .wrapper .text {
    min-height: 50px;
  }
  .project-container .content-container .contact-container form .wrapper .headline {
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 700;
  }
  .project-container .content-container .contact-container form .wrapper .text {
    min-height: 143px;
  }
  .project-container .content-container .contact-container form #submit {
    max-width: 166px;
    font-size: 1.375rem;
    line-height: 1.65em;
    font-weight: 700;
    margin: 3.34em auto 0 0;
  }
  .project-container .icons-set {
    max-width: 494px;
    margin: auto auto 2.38em 3.45em;
  }
  .project-container .icons-set .bg-icon {
    min-width: 95px;
    min-height: 95px;
  }
  .project-container .icons-set .bg-icon img {
    max-width: 32px;
    max-height: 32px;
  }
  .project-container .bottom-page-style {
    width: 54.0625%;
    min-height: 18px;
    margin: 0 auto 0 0;
  }
}
@media (min-width: 1500px) {
  .project-container .content-container img[alt="SMS chat"] {
    margin: 0 10.375em auto 11.3125em;
    max-width: 535px;
    max-height: 804px;
  }
}/*# sourceMappingURL=main.css.map */