.project-container {
    width: 100%;
    height: 100%;
    background: $clr-white 0% 0% no-repeat padding-box;

    img {
        width: 100%;
        height: 33.33%;
        min-height: 219px;
        object-fit: cover;
    }

    .content {
        width: clamp(286px, 90%, 418px); // min value, desired value, max value
        margin: 2em auto 4em;
        text-align: left;

        h4 {
            font-size: 1.75rem;
            line-height: 1.46em;
            font-weight: $fw-900;
            color: $clr-blue;
            margin-bottom: .57em;
        }

        p {
            font-size: .94rem;
            line-height: 1.46em;
            font-weight: $fw-regular;
            color: $clr-blue;
            margin-bottom: 2.06em;
        }

        form {
            width: 100%;
            display: flex;
            flex-direction: column;

            .headline { // the label of the text input
                font-size: .63rem;
                line-height: 1.5em;
                color: $clr-dark;
            }

            .text { // the text input
                width: 100%;
                max-width: 418px;
                min-height: 34px;
                background: $clr-light-blue 0% 0% no-repeat padding-box;
                border: $clr-light-blue;
                border-bottom: .1875em solid $clr-blue;
            }

            .text + .headline { // creating a space between text and headline element, effects the second headline element and so on
                margin-top: 1.63em;
            }

            #submit { // the submit button
                width: 100%;
                max-width: 418px;
                min-height: 34px;
                background: $clr-blue 0% 0% no-repeat padding-box;
                text-align: center;
                font-size: .875rem;
                font-weight: $fw-bold;
                line-height: 1.357em;
                letter-spacing: .015em;
                color: $clr-white;
                margin-top: 1.6em;
            }
        }
    }
}

@media (min-width: 900px) { // responsive for big tablets and desktop
    .project-container {
        display: flex;

        img {
            width: 69%;
            height: 100%;
            object-fit: fill;
        }

        .content {
            margin: 8em 3em 8em;
        }
    }
}