.project-container {
    width: 100%;
    height: 100vh;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    display: flex;

    img {
        width: 56.52%;
        height: 100%;
    }

    form {
        width: 21.78%;
        height: 40%;
        margin: 25.1vh auto 35.47vh;
        text-align: left;

        h4 {
            width: 95%;
            height: 14.59%;
            font: normal normal 900 2em/1em 'Heebo', sans-serif;
            color: #020253;
            margin: 0 auto 2.04vh 0;
            text-transform: capitalize;
        }

        p {
            width: 100%;
            height: 16%;
            font: normal normal normal 1em/1.5em 'Heebo', sans-serif;
            color: #020253;
            margin-bottom: 2.41vh;
        }

        .formApplication {
            width: 100%;
            height: 58.1%;
            display: flex;
            flex-direction: column;

            .field-section {
                width: 100%;
                height: 67.71%;

                .headline {
                    width: 13.88%;
                    height: 13.8%;
                    font: normal normal bold .9em/1em 'Heebo', sans-serif;
                    color: #2C2C2C;
                    text-transform: capitalize;

                    &:nth-child(3) {
                        display: flex;
                        justify-content: left;
                        margin: 2vh auto 0 0;
                    }
                }

                .text {
                    width: 100%;
                    height: 28.74%;
                    background: #E5EEFF 0% 0% no-repeat padding-box;
                    border-bottom: #020253 solid .3em;
                }
            }

            #submit {
                width: 39.72%;
                height: 19.46%;
                background: #020253 0% 0% no-repeat padding-box;
                font: normal normal bold 1.1em/1em 'Heebo', sans-serif;
                letter-spacing: .1em;
                color: #FFFFFF;
                margin: auto auto 0 0;
                text-transform: capitalize;
            }
        }
    }
}