.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    height: 7.41%;
    max-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    border-top: 0.1875em solid #1AE0EC;
    z-index: 100;

    .profile {
        width: 8.23%;
        height: 77.5%;
        display: flex;
        align-items: center;
        margin-right: 0;
        margin-left: 15.6%;

        img {
            width: 43.48%;
            height: 100%;
            border-radius: 50%;
        }

        h6 {
            width: 56.52%;
            height: 34.33%;
            font-family: 'Satisfy', cursive;
            font-size: 1.5625em;
            color: #444444;
            white-space: nowrap;
            margin-left: 10.76%;
        }
    }

    .toggle-button {
        position: absolute;
        top: .75rem;
        right: 1rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
    }

    .links {
        width: 27.87%;
        height: 46.25%;
        margin-right: 13%;

        ul {
            display: flex;
            margin: 0;
            padding: 0;

            li {
                list-style: none;

                &:not(:last-child) {
                    margin-right: 11.41%;
                }

                a {
                    font: normal normal 400 1.56rem/1.5 'Heebo', sans-serif;
                    text-decoration: none;
                    color: #2C2C2C;
                    display: block;

                    &:hover {
                        color: #1AE0EC;
                    }
                }

                &:last-child a:hover {
                    color: #000;
                }

                #main-btn {
                    font: normal normal bold 1.56rem/1.5 'Heebo', sans-serif;
                    color: #1AE0EC;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;

        .toggle-button {
            display: flex;
            top: 2.5vh;
            right: 2rem;

            &:hover + .links {
                display: block;
                flex-direction: column;
            }
        }

        .links {
            display: none;
            text-align: center;

            ul {
                width: 100vw;
                flex-direction: column;
            }

            a {
                display: block;
            }
        }
    }
}