.project-container {
    width: 100%;
    height: 100vh;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;

    .layout {
        width: 100%;
        height: 68.8%;
        background: transparent url('../../images/Path\ 15.png') 0% 0% no-repeat padding-box;
        background-size: 100% 100%; // makes sure the background image is taking 100% of the width and height of the container to get the desired cover effect

        h1 {
            width: 51%;
            height: 15.21%;
            font: normal normal bold 4em/1em 'Assistant', sans-serif;
            color: #D3E10E;
            margin: 26.12vh auto 2.13vh;
            text-transform: uppercase;
            text-align: center;
        }

        h6 {
            width: 37.56%;
            height: 3.5%;
            font: normal normal normal 1em/1em 'Assistant', sans-serif;
            text-align: center;
            color: #F9F9F9;
            margin: 0 auto;
        }
    }

    form {
        width: 57.3%;
        height: 9%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10vh auto auto;

        .field-section {
            width: 79.37%;
            height: 100%;
            display: flex;
            justify-content: space-between;

            .wrapper {
                width: 47.89%;
                height: 100%;
                display: flex;
                flex-direction: column;

                .headline {
                    width: 18%;
                    height: 20%;
                    text-align: left;
                    font: normal normal bold .85em/1em 'Assistant', sans-serif;
                    color: #011560;
                    margin-bottom: .5vh;
                    margin-top: .6vh;
                    text-transform: capitalize;
                }

                .text {
                    width: 100%;
                    height: 67.57%;
                    background: #F6F6F6 0% 0% no-repeat padding-box;
                    border-bottom: #D3E10E solid .3em;
                    text-transform: capitalize;
                }
            }
        }

        #submit {
            width: 15.1%;
            height: 67.57%;
            background: #D3E10E 0% 0% no-repeat padding-box;
            font: normal normal bold 1.1em/1em 'Assistant', sans-serif;
            letter-spacing: .03em;
            color: #011560;
            margin-top: auto;
            border: #D3E10E;
            text-transform: capitalize;
        }
    }
}