* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

h1, h6 {
    font-family: $ff-assistant;
}

label, #submit {
    font-family: $ff-heebo;
    font-weight: $fw-bold;
    color: $clr-blue; //doesnt seem to have an efect on the submit
}