$clr-blue: #011560;
$clr-white: #ffffff;
$clr-gray: #00000029;
$clr-yellowgreen: #D3E10E;
$clr-lightblue: #E5EEFF;

$ff-assistant: 'Assistant', sans-serif;
$ff-heebo: "heebo", sans-serif;

$fw-bold: bold;
$fw-regular: normal;