.px-5 {
    padding: 0 1em !important;

    .fs-4 {
        font: normal normal 400 1.56em/1.5 "Satisfy", cursive;
    }

    .navbar-toggler-icon {
        width: 1.9em;
        background-image: none;
        color: #1AE0EC;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
    }

    .nav-item {
        margin: 0 auto !important;

        .hover-color:hover {
            color: #1AE0EC;
        }

        .nav-link {
            font: normal normal normal 1rem/0.84em "Heebo", sans-serif;
        }

        .bold-font {
            font-weight: bold;
        }
    }
}

@media (min-width: 767px) { // responsive for tablet screen size
    .px-5 {
        padding: 0 1em !important;

        .nav-item + .nav-item {
            margin-left: 2em;
        }

        .nav-link {
            font-size: 1.35rem !important;
        }
    }
}

@media (min-width: 1200px) { // responsive for desktop screen size
    .px-5 {
        padding: 0 7em !important;

        .nav-link {
            font-size: 1.56rem !important;
        }
    }
}