.overview-container {
    width: 100%;
    background: #EBFEFF 0% 0% no-repeat padding-box;
    display: flex;
    justify-content: center;
    padding: 5em 0;
    flex-grow: 1;
    justify-content: center;

    img {
        width: 61.93%;
        min-width: 295px;
        box-shadow: 0px 0px 2.5em #00000066;
    }
}

@media (min-width: 600px) {

    // responsive for tablet screen size
    .overview-container {
        padding-bottom: 8em;
    }
}

@media (min-width:900px) {

    // responsive for desktop screen size
    .overview-container {
        padding-bottom: 11.5em;
    }
}