.project-container {
    width: 100vw;
    height: 93.9vh;
    background: #EBFEFF 0% 0% no-repeat padding-box;

    img {
        width: 61vw;
        height: 66vh;
        margin: 12vh 19.02vw 17.04vh 19.04vw;
    }
}