* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.px-5 {
  padding: 0 1em !important;
}
.px-5 .fs-4 {
  font: normal normal 400 1.56em/1.5 "Satisfy", cursive;
}
.px-5 .navbar-toggler-icon {
  width: 1.9em;
  background-image: none;
  color: #1AE0EC;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}
.px-5 .nav-item {
  margin: 0 auto !important;
}
.px-5 .nav-item .hover-color:hover {
  color: #1AE0EC;
}
.px-5 .nav-item .nav-link {
  font: normal normal normal 1rem/0.84em "Heebo", sans-serif;
}
.px-5 .nav-item .bold-font {
  font-weight: bold;
}

@media (min-width: 767px) {
  .px-5 {
    padding: 0 1em !important;
  }
  .px-5 .nav-item + .nav-item {
    margin-left: 2em;
  }
  .px-5 .nav-link {
    font-size: 1.35rem !important;
  }
}
@media (min-width: 1200px) {
  .px-5 {
    padding: 0 7em !important;
  }
  .px-5 .nav-link {
    font-size: 1.56rem !important;
  }
}
.header-container {
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(19, 232, 241, 0.388), rgba(255, 255, 255, 0.5)), url("../../images/headerBackgroundImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 4.1875em 1.3125em;
  text-align: center;
}
.header-container .text-container {
  max-width: 351px;
  color: #3A3A3A;
  margin: 0 auto;
}
.header-container .text-container h1 {
  font: normal normal 900 2.88rem/1.45em "Heebo", sans-serif;
  text-transform: uppercase;
}
.header-container .text-container p {
  font: normal normal 500 0.94rem/1.66em "Heebo", sans-serif;
}
.header-container .links-container {
  max-width: 282px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.header-container .links-container a {
  min-height: 18px;
  color: #2C2C2C;
  font: normal normal 500 0.75rem/1.84em "Heebo", sans-serif;
}

@media (min-width: 900px) {
  .text-container {
    max-width: 844px;
  }
  .text-container h1 {
    font: normal normal 900 5rem/1.48em "Heebo", sans-serif;
  }
  .text-container p {
    font: normal normal 500 1.25rem/1.5em "Heebo", sans-serif;
  }
  .links-container {
    max-width: 318px;
  }
  .links-container a {
    font: normal normal 500 0.88rem/1.85em "Heebo", sans-serif;
  }
}
.technologies-container {
  width: 100%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0em 0.1875em 0.375em rgba(0, 0, 0, 0.1607843137);
  padding: 0.5em;
}
.technologies-container .technologies {
  width: 68.2%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.technologies-container .technologies img {
  min-width: 45px;
  -o-object-fit: cover;
     object-fit: cover;
}
.technologies-container .technologies img + img {
  margin-left: 0.6em;
}

@media (min-width: 600px) {
  .technologies {
    max-width: 465px;
  }
}
.overview-container {
  width: 100%;
  background: #EBFEFF 0% 0% no-repeat padding-box;
  display: flex;
  justify-content: center;
  padding: 5em 0;
}
.overview-container img {
  width: 61.93%;
  min-width: 295px;
  box-shadow: 0px 0px 2.5em rgba(0, 0, 0, 0.4);
}

@media (min-width: 600px) {
  .overview-container {
    padding-bottom: 8em;
  }
}
@media (min-width: 900px) {
  .overview-container {
    padding-bottom: 11.5em;
  }
}
.copyright-section {
  width: 100%;
  background: #000000 0% 0% no-repeat padding-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.35em solid #1AE0EC;
}
.copyright-section p {
  color: #1AE0EC;
  margin: 0;
  font: normal normal normal 0.56rem/1.45em "Heebo", sans-serif;
}
.copyright-section #copy {
  font-weight: 300;
  padding-left: 1em;
}
.copyright-section #name {
  padding-right: 1em;
}

@media (min-width: 600px) {
  .copyright-section {
    border-bottom-width: 0.4em;
  }
  .copyright-section p {
    font: normal normal normal 1.25rem/1.45em "Heebo", sans-serif;
  }
  .copyright-section #copy {
    font-weight: 300;
    padding-left: 2.79em;
  }
  .copyright-section #name {
    padding-right: 2.79em;
  }
}/*# sourceMappingURL=main.css.map */