body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 10px;
}

h4 {
    color: #666;
    margin-bottom: 20px;
}

a {
    /* make the element have a width and height like block */
    /* also to respect top/bottom margin and padding */
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
    font-size: 1.1em;
    /* This creates a smooth fade effect when the background color changes using hover */
    transition: background-color 0.3s;
}

a:hover {
    background-color: #45a049;
}