.navbar {
    position: sticky;
    top: 0;
    width: 100vw;
    height: auto;
    max-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    border-top: 0.28vh solid #1AE0EC;
    z-index: 100;

    .profile {
        width: 7.43vw;
        height: 6.7vh;
        display: flex;
        align-items: center;

        img {
            width: 3.23vw;
            height: 6.7vh;
            border-radius: 50%;
            margin-right: 0.78125vw;
            margin-left: 15.6vw;
        }

        h6 {
            width: 4.2vw;
            height: 2.3vh;
            font-family: 'Satisfy', cursive;
            font-size: 1.5rem;
            color: #444444;
            white-space: nowrap;
        }
    }

    .toggle-button {
        position: absolute;
        top: .75rem;
        right: 1rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
    }

    .links {
        margin-right: 16.15vw;

        ul {
            display: flex;
            margin: 0;

            li {
                list-style: none;
                
                &:not(:last-child) {
                        margin-right: 3.2vw;
                }

                a {
                    font: normal normal normal 1.56rem/1.5 'Heebo', sans-serif;
                    text-decoration: none;
                    color: #2C2C2C;
                    display: block;

                    &:hover {
                        color: #1AE0EC;
                    }
                }

                &:last-child a:hover {
                    color: #000;
                }

                #main-btn {
                    font: normal normal bold 1.56rem/1.5 'Heebo', sans-serif;
                    color: #1AE0EC;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;

        .toggle-button {
            display: flex;
            top: 2.5vh;
            right: 2rem;

            &:hover + .links {
                display: block;
                flex-direction: column;
            }
        }

        .links {
            display: none;
            text-align: center;

            ul {
                width: 100vw;
                flex-direction: column;
            }

            a {
                display: block;
            }
        }
    }
}