$clr-white: #FFFFFF;
$clr-yellow: #FDBD03;
$clr-blue: #020253;
$clr-light-gray: #00000029;
$clr-black: #000000;
$clr-gray: #2C2C2C;
$clr-light-blue: #E5EEFF;

$fw-regular: 400;
$fw-bold: 700;
$fw-black: 900;