.aboutme-container {
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    padding: 5.94em 0;

    .aboutme-display {
        width: 90%;
        margin: 0 auto;

        img {
            width: 141px;
            margin: 0 auto 1.88em;
        }

        .aboutme-section {
            color: #3A3A3A;

            h4 {
                font: normal normal 900 1.563rem/1.48em "Heebo", sans-serif;
                text-transform: uppercase;
                margin-bottom: .88em;
            }

            p {
                font: normal normal normal .938rem/1.48em "Heebo", sans-serif;
                margin-bottom: 1.3em;
            }

            .resume {
                width: min(35%, 260px);
                background: #1AE0EC 0% 0% no-repeat padding-box;
                margin: 0 auto;
                border-radius: 1.1rem;

                a {
                    font: normal normal 500 .625rem/1.9em "Heebo", sans-serif;
                    color: #3A3A3A;
                    margin: 0 auto;
                    text-decoration: none;
                    text-transform: capitalize;
                }
            }
        }
    }
}

@media (min-width: 900px) {
    .aboutme-container {
        .aboutme-display {
            width: 41%;

            .aboutme-section {
                h4 {
                    font: normal normal 900 2.188rem/1.49em "Heebo", sans-serif;
                }

                p {
                    font: normal normal normal 1.25rem/1.45em "Heebo", sans-serif;
                }

                .resume {
                    width: min(48%, 260px);

                    a {
                        font: normal normal bold 1.25rem/1.9em "Heebo", sans-serif;
                        letter-spacing: 0.3px;
                    }
                }
            }
        }
    }
}