.aboutme-container {
    width: 100vw;
    height: 66.2vh;
    min-height: 400px; /* Minimum height for content visibility */
    display: flex;
    flex-direction: column; /* Change to column layout */
    justify-content: center;
    align-items: center;

    .aboutme-display {
        width: 42vw;
        max-width: 100%; /* Adjusted max-width */
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 7.4vw;
            max-width: 100%; /* Adjusted max-width */
            height: auto; /* Maintain aspect ratio */
            border-radius: 50%;
            overflow: hidden;
            margin-bottom: 24px; /* Space between image and aboutme-section */
        }

        .aboutme-section {
            width: 100%; /* Full width */

            h4 {
                font: normal normal 900 2vw/1.5 'Heebo', sans-serif;
                // font-size: 2vw; /* Adjusted font size */
                margin-bottom: 13px;
                margin-top: 0; /* Space between h1 and aboutme-section */
            }

            p {
                width: 100%; /* Full width */
                height: 21.5vh;
                font: normal normal normal 1vw/1.5 'Heebo', sans-serif;
                color: #3A3A3A;
                text-align: center;
                margin-bottom: 13px;
            }

            .resume {
                width: 14vw;
                height: 3.8vh;
                background-color: #1AE0EC;
                border-radius: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 13px auto 0; /* Auto margin on left and right, 13px top margin */

                
                a {
                    width: 8.7vw;
                    height: 2.7vh;
                    font: normal normal bold 1vw/1.5 'Heebo', sans-serif;
                    color: #3A3A3A;
                    text-decoration: none;
                    letter-spacing: 0.3px;
                }
            }
        }
    }

    @media (max-width: 991px) {
        .aboutme-display {
            width: 80%; /* Adjusted width for tablets */

            img {
                width: 40%; /* Adjusted image size for tablets */
            }

            h4 {
                font-size: 1.5rem; /* Adjusted font size for tablets */
            }

            p {
                font-size: 1rem; /* Adjusted font size for tablets */
            }

            .resume {
                width: 60%; /* Adjusted width for tablets */
            }
        }
    }

    @media (max-width: 767px) {
        .aboutme-display {
            width: 95%; /* Adjusted width for mobile */

            img {
                width: 50%; /* Adjusted image size for mobile */
            }

            h4 {
                font-size: 1.2rem; /* Adjusted font size for mobile */
            }

            p {
                font-size: 0.9rem; /* Adjusted font size for mobile */
            }

            .resume {
                width: 80%; /* Adjusted width for mobile */
            }
        }
    }
}