.contact-us-container {
    width: 100%;
    height: 88.8vh;
    background: #3A3A3A 0% 0% no-repeat padding-box;
    display: flex;

    form {
        width: 28.6%;
        height: 67.37%;
        color: #FFFFFF;
        order: 2;
        margin: auto 19.03125em auto 13.75em;


        h4{
            width: 33%;
            height: 8.21%;
            font: normal normal 900 1.8em/1em 'Heebo', sans-serif;
            text-align: left;
            margin: 0 auto 0.28em 0;
            text-transform: uppercase;
        }

        p{
            width: 99.82%;
            height: 8.98%;
            font: normal normal normal 1em/1.3em 'Heebo', sans-serif;
            text-align: left;
            margin: 0 auto 2em 0;
        }

        .field-section {
            width: 99.82%;
            height: 61.77%;
            text-align: left;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .headline {
                width: 26%;
                height: 6.02%;
                font: normal normal bold .8em/1em 'Heebo', sans-serif;
                text-align: left;
                white-space: nowrap;
                margin: 1.22em auto .12em 0;
                text-transform: capitalize;

                &:nth-child(1) {
                    margin-top: 0;
                }
            }

            .text {
                width: 100%;
                height: 12.54%;
                background: #FFFFFF 0% 0% no-repeat padding-box;
                border-bottom-color: #1AE0EC;
                resize: none;
            }

            textarea.text {
                height: 25.07%;
            }
        }

        #submit {
            width: 30.24%;
            height: 7.74%;
            background: #1AE0EC 0% 0% no-repeat; // according to the design, it doesnt really have padding-box
            border-radius: 1em;
            font: normal normal bold 1.1em/1em 'Heebo', sans-serif;
            letter-spacing: .02em;
            color: #2C2C2C;
            margin: 1em auto 0 0;
            border: #1AE0EC; // there is a black border appear and its not in the design
            display: flex;
            justify-content: center;
            align-items: flex-start;
            text-transform: capitalize;
        }
    }

    img {
        width: 40.11%;
        height: 69.97%;
        order: 1;
        margin: 0 0 auto 4.78em;
    }
}