.social-container {
    width: 100%;
    background: #1AE0EC 0% 0% no-repeat padding-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;

    .content-box + .content-box {
        margin-left: 6.2em;
    }

    .content-box {
        width: 100%;
        max-width: 120px;

        img {
            width: 100%;
            max-width: 41px;
            background: transparent 0% 0% no-repeat padding-box;
        }

        img[alt="location icon"] {
            width: 25%;
        }

        img[alt="facebook icon"] {
            width: 20%;
        }

        p {
            width: 100%;
            font: normal normal normal .88rem/1.14em 'Heebo', sans-serif;
            letter-spacing: 0;
            color: #2C2C2C;
            margin-top: 1.25em;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .helFont {
            font: normal normal normal .88rem/1.14em 'Inter', sans-serif;
        }
    }
}

.copyright-section {
    width: 100%;
    background: #000000 0% 0% no-repeat padding-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.375em solid #1AE0EC;

    p {
        color: #1AE0EC;
        margin: auto 1.594rem;
        padding: .5em;

        #name {
            font: normal normal normal 1rem/1.5 'Heebo', sans-serif;
        }

        #copy {
            font: normal normal 300 1rem/1.5 'Heebo', sans-serif;
        }
    }
}