.navbar {
    width: 100%;
    height: 7.41vh;
    max-height: 80px;
    background-color: #FFFFFF;
    border-top: .1em solid #1AE0EC;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .profile {
        width: 8.23%;
        height: 5.75vh;
        display: flex;
        align-items: center;
        margin-left: 11em;

        img {
            width: 39.25%;
            height: 100%;
            border-radius: 50%;
            margin-right: .8em;
        }

        h6 {
            width: 50.07%;
            height: 56.53%;
            font-family: 'Satisfy', cursive;
            font-size: 1.563em;
            color: #444444;
            white-space: nowrap;
            margin: 0 auto;
        }
    }

    input {
        visibility: hidden;
    }

    .toggle-button {
        display: none;
        position: absolute;
        flex-direction: column;
        justify-content: space-between;
        color: #1AE0EC;
        background: 0% 0% no-repeat padding-box;
        font-size: 1.5em;
    }

    .links {
        width: 27.87%;
        height: auto;
        margin-right: 13em;

        ul {
            margin: 0 auto;
            padding: 0;
            display: flex;
            justify-content: center;

            li {
                list-style: none;
                &:not(:last-child) {
                        margin-right: 2.5em;
                }

                a {
                    font: normal normal normal 1.563em/1em 'Heebo', sans-serif;
                    text-decoration: none;
                    color: #2C2C2C;
                    text-transform: capitalize;

                    &:hover {
                        color: #1AE0EC;
                    }
                }

                &:last-child a:hover {
                    color: #000;
                }

                #main-btn {
                    font: normal normal bold 1.563em/1em 'Heebo', sans-serif;
                    color: #1AE0EC;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;

        .profile {
            width: 6vw;
            height: 5vh;
            margin-left: 1em;

            img {
                width: 100%;
                height: 100%;
                margin-right: 0;
            }

            h6 {
                display: none;
            }
        }

        .toggle-button {
            display: flex;
            top: .3em;
            right: .8em;
        }

        #toggle:checked ~ .links {
            display: block;
            width: 100%;
            position: absolute;
            background-color: #FFFFFF;
            margin-top: 6vh;
        }

        .links {
            display: none;
            text-align: center;

            ul {
                flex-direction: column;

                li {
                    width: 100%;

                    a {
                        display: block;
                    }
                }
            }
        }
    }
}

@media (max-width: 1023px) {
    
}