nav {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 7.5vh;
    background-color: #FFFFFF;
    padding: 0.9375em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0.28vh solid #1AE0EC;
    z-index: 100;

    .profile {
        display: flex;
        align-items: center;

        img {
            width: 3.3vw;
            height: 5.75vh;
            border-radius: 31px;
            margin-right: 0.78125vw;
            margin-left: 15.6vw;
        }

        h6 {
            width: 4.2vw;
            height: 2.3vh;
            font-family: 'Satisfy', cursive;
            font-size: 1.5rem;
            color: #444444;
            white-space: nowrap;
        }
    }

    .links {
        width: 3.125vw;
        height: 3.5vh;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-grow: 1;
        margin-right: 16.15vw;

        a {
            font: normal normal normal 1.56rem/1.5 'Heebo', sans-serif;
            text-decoration: none;
            color: #2C2C2C;
            margin: 0;

            &:nth-child(4) {
                font: normal normal bold 1.56rem/1.5 'Heebo', sans-serif;
                color: #1AE0EC;
                margin: 0;
            }

            &:not(:last-child) {
                margin-right: 3.2vw; // Add a 61px right margin to all links except the last one
            }

            &:hover {
                color: #1AE0EC;

                &:nth-child(1) {
                    color: #000000;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    nav .links {
        display: none;
    }

    nav .profile img {
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;

        .profile img {
            margin: 0 0 10px 15px;
        }

        .links {
            display: flex;
            flex-direction: column;

            a {
                margin: 0;
                padding: 5px 0;
            }
        }
    }
}