.selected-projects-container {
    width: 100%;
    background-color: #F6F6F6;
    padding: 6.3em 0 11.4em 0;

    .header-section {
        width: 100%;
        margin: 0 auto;
        color: #3A3A3A;
        text-align: center;

        h4 {
            font: normal normal 900 2.25rem/1.47em "Heebo";
        }

        p {
            font: normal normal normal 1.25rem/1.45em "Heebo";
        }
    }

    .container {
        width: 100%;
        max-width: 1315px;
        padding: 0;
        margin-top: 4.25em;

        .row {
            width: 100%;
            max-width: 1315px;
            margin: 0 auto;

            .col {
                padding: 0;

                .card-img-top {
                    max-height: 223px;
                }

                .card-body {
                    color: #3A3A3A;

                    .card-title {
                        font: normal normal 500 1.44rem/1.48em "Heebo";
                    }
                    
                    .card-text {
                        font: normal normal normal 1rem/1.5em "Heebo";
                    }
                }

                .used-technologies {
                    width: 100%;
                    max-width: 122px;
                    margin: 0 auto;

                    img {
                        max-width: 26px;
                    }
                }
            }
        }
    }
}