.technologies-container {
    width: 100vw;
    height: 12vh;
    min-height: 80px; // Minimum height for content visibility
    box-shadow: 0px 3px 6px #00000029;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .technologies {
        width: 68vw;
        height: 9.2vh;
        min-height: 80px; // Minimum height for content visibility
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        img {
            width: 5.2vw;
            height: 9.2vh;
        }
    }

    @media (max-width: 991px) {
        .technologies {
            width: 90%; /* Adjusted width for tablets */

            img {
                width: 40%; /* Adjusted image size for tablets */
            }
        }
    }

    @media (max-width: 767px) {
        .technologies {
            width: 90%; /* Adjusted width for mobile */

            img {
                width: 60%; /* Adjusted image size for mobile */
            }
        }
    }
}