* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100vw;
  height: auto;
  max-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  border-top: 0.28vh solid #1AE0EC;
  z-index: 100;
}
.navbar .profile {
  width: 7.43vw;
  height: 6.7vh;
  display: flex;
  align-items: center;
}
.navbar .profile img {
  width: 3.23vw;
  height: 6.7vh;
  border-radius: 50%;
  margin-right: 0.78125vw;
  margin-left: 15.6vw;
}
.navbar .profile h6 {
  width: 4.2vw;
  height: 2.3vh;
  font-family: "Satisfy", cursive;
  font-size: 1.5rem;
  color: #444444;
  white-space: nowrap;
}
.navbar input {
  visibility: hidden;
}
.navbar .toggle-button {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  color: #1AE0EC;
  background: 0% 0% no-repeat padding-box;
  font-size: 2rem;
}
.navbar .links {
  margin-right: 16.15vw;
}
.navbar .links ul {
  display: flex;
  margin: 0;
}
.navbar .links ul li {
  list-style: none;
}
.navbar .links ul li:not(:last-child) {
  margin-right: 3.2vw;
}
.navbar .links ul li a {
  font: normal normal normal 1.56rem/1.5 "Heebo", sans-serif;
  text-decoration: none;
  color: #2C2C2C;
  display: block;
}
.navbar .links ul li a:hover {
  color: #1AE0EC;
}
.navbar .links ul li:last-child a:hover {
  color: #000;
}
.navbar .links ul li #main-btn {
  font: normal normal bold 1.56rem/1.5 "Heebo", sans-serif;
  color: #1AE0EC;
}

@media (max-width: 767px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar .toggle-button {
    display: flex;
    top: 1vh;
    right: 6vw;
  }
  .navbar #toggle:checked ~ .links {
    display: block;
  }
  .navbar .links {
    display: none;
    text-align: center;
  }
  .navbar .links ul {
    width: 100vw;
    flex-direction: column;
  }
  .navbar .links a {
    display: block;
  }
}
.header-container {
  width: 100%;
  height: 42.69%;
  background-image: linear-gradient(to bottom, rgba(19, 232, 241, 0.388), rgba(255, 255, 255, 0.5)), url("../../images/headerBackgroundImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-container .text-container {
  width: 44%;
  height: 21.9%;
  margin: 5% auto 2%;
}
.header-container .text-container h1 {
  width: 56 0.5%;
  height: 65.2%;
  font: normal normal 900 5em/1.5 "Heebo", sans-serif;
  color: #3A3A3A;
  text-align: center;
  margin-bottom: 2.21%;
}
.header-container .text-container p {
  width: 100%;
  height: 34.8%;
  font: normal normal 500 1em/1.5 "Heebo", sans-serif;
  color: #3A3A3A;
  text-align: center;
  margin: 0;
}

.technologies-container {
  width: 100%;
  height: 12.04%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0em 0.1875em 0.375em rgba(0, 0, 0, 0.1607843137);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.technologies-container .technologies {
  width: 75%;
  height: 9.26%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.technologies-container .technologies img {
  width: 21.51%;
  height: 100%;
}

.aboutme-container {
  width: 100vw;
  height: 66.2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutme-container .aboutme-display {
  width: 42vw;
  height: 52vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutme-container .aboutme-display img {
  width: 7.35vw;
  height: 15vh;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 2.6vh;
}
.aboutme-container .aboutme-display .aboutme-section {
  width: 100%;
  height: 32.5vh;
}
.aboutme-container .aboutme-display .aboutme-section h4 {
  width: 42vw;
  height: 6.715vh;
  font: normal normal 900 2vw/1.5 "Heebo", sans-serif;
  margin-bottom: 1.4vh;
  margin-top: 0;
}
.aboutme-container .aboutme-display .aboutme-section p {
  width: 100%;
  height: 21.5vh;
  font: normal normal normal 1vw/1.5 "Heebo", sans-serif;
  color: #3A3A3A;
  text-align: center;
  margin-bottom: 1.4vh;
}
.aboutme-container .aboutme-display .aboutme-section .resume {
  width: 14vw;
  height: 3.8vh;
  background-color: #1AE0EC;
  border-radius: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.21vh auto 0;
}
.aboutme-container .aboutme-display .aboutme-section .resume a {
  width: 8.7vw;
  height: 2.7vh;
  font: normal normal bold 1vw/1.5 "Heebo", sans-serif;
  color: #3A3A3A;
  text-decoration: none;
  letter-spacing: 0.015625vw;
}

.selected-projects-container {
  width: 100vw;
  height: 170vh;
  background: #F6F6F6;
  padding-top: 10.8vh;
  padding-bottom: 9.26vh;
}
.selected-projects-container .projects-grid-container {
  width: 69vw;
  height: 118.15vh;
  margin: 0 auto;
  padding-top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.selected-projects-container .projects-grid-container .header-section {
  text-align: center;
  margin-bottom: 7.32vh;
  color: #3A3A3A;
}
.selected-projects-container .projects-grid-container .header-section h4 {
  width: 30vw;
  height: 6.295vh;
  font: normal normal 900 2.25rem/1.5 "Heebo", sans-serif;
  color: #3A3A3A;
}
.selected-projects-container .projects-grid-container .header-section p {
  width: 30vw;
  height: 6vh;
  font: normal normal normal 1.25rem/1.5 "Heebo", sans-serif;
  color: #3A3A3A;
  margin-top: 1.1vh;
}
.selected-projects-container .projects-grid-container .cards-section {
  width: 69vw;
  height: 120.59vh;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 5.4vh;
}
.selected-projects-container .projects-grid-container .cards-section .row + .row {
  margin-top: -2.7vh;
}
.selected-projects-container .projects-grid-container .cards-section .card {
  width: 20vw;
  height: auto;
  box-shadow: 0.2em 0.2em 1em rgba(0, 0, 0, 0.1607843137);
  border-radius: 2.5%;
}
.selected-projects-container .projects-grid-container .cards-section .card .card-img-top {
  width: 100%;
  height: 21vh;
  background: transparent 0% 0% no-repeat padding-box;
  border-radius: 0.6em 0.6em 0 0;
}
.selected-projects-container .projects-grid-container .cards-section .card .card-body {
  width: 20vw;
  height: 29.528vh;
  margin-bottom: 6.2vh;
}
.selected-projects-container .projects-grid-container .cards-section .card .card-body .card-title {
  width: 18.334vw;
  height: 4.057vh;
  font: normal normal 500 1.45rem/1.5 "Heebo", sans-serif;
  color: #3A3A3A;
  margin-top: 3.45vh;
  margin-bottom: 2.3vh;
}
.selected-projects-container .projects-grid-container .cards-section .card .card-body p {
  width: 18.5vw;
  height: 6.2vh;
  font: normal normal normal 0.8rem/1.5 "Heebo", sans-serif;
  color: #3A3A3A;
  margin-bottom: 0;
}
.selected-projects-container .projects-grid-container .cards-section .card .card-body .project-technology-container {
  width: 7vw;
  height: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 2.65vh;
  margin-top: 1vh;
}
.selected-projects-container .projects-grid-container .cards-section .card .card-body .project-technology-container img {
  width: 100%;
  height: 100%;
}
.selected-projects-container .projects-grid-container .cards-section .card .card-body .btn {
  width: 10vw;
  height: 3vh;
  font: normal normal 500 1rem/1.5 "Heebo", sans-serif;
  color: #2C2C2C;
  background: #1AE0EC 0% 0% no-repeat padding-box;
  border: 0.1em #1AE0EC solid;
  border-top-left-radius: 0.8em;
  border-bottom-left-radius: 0.8em;
  border-top-right-radius: 0.8em;
  border-bottom-right-radius: 0.8em;
  padding: 0 1.2em 0 1.2em;
}

.contact-us-container {
  width: 100vw;
  height: 89vh;
  background: #3A3A3A 0% 0% no-repeat padding-box;
  display: flex;
  justify-content: center;
}
.contact-us-container form {
  width: 29vw;
  height: 59vh;
  color: #FFFFFF;
  order: 2;
  margin: 17.3vh 15.85vw 0.5vh 11.5vw;
}
.contact-us-container form h4 {
  width: 7.1vw;
  height: 5vh;
  font: normal normal 900 1.875vw/1.5 "Heebo", sans-serif;
  margin: 0 25vw 0.65vh 0;
  text-align: left;
  margin-inline-start: auto;
}
.contact-us-container form p {
  width: 28.6vw;
  height: 13vh;
  font: normal normal normal 1rem/1.5 "Heebo", sans-serif;
  margin-bottom: 4vh;
  text-align: left;
  margin-inline-end: auto;
}
.contact-us-container form .field-section {
  width: 29vw;
  height: 37vh;
  margin-bottom: 3.4vh;
  text-align: left;
}
.contact-us-container form .field-section .headline {
  width: 4.8vw;
  height: 2.3vh;
  font: normal normal bold 0.7rem/1.5 "Heebo", sans-serif;
  text-align: left;
  margin-bottom: -1.3vh;
  margin-top: 1.7vh;
  white-space: nowrap;
}
.contact-us-container form .field-section .headline:nth-child(1) {
  margin-top: 0;
}
.contact-us-container form .field-section .text {
  width: 29vw;
  height: 4.7vh;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-bottom-color: #1AE0EC;
  resize: none;
  margin: 0;
}
.contact-us-container form .field-section textarea.text {
  height: 9.3vh;
}
.contact-us-container form #submit {
  width: 8.7vw;
  height: 4.7vh;
  background: #1AE0EC 0% 0% no-repeat padding-box;
  border-radius: 1.4vw;
  font: normal normal bold 1.2vw/1.5 "Heebo", sans-serif;
  letter-spacing: 0.0171875vw;
  color: #2C2C2C;
  margin: 0 20vw 0 0;
}
.contact-us-container img {
  width: 40.2vw;
  height: 62.2vh;
  order: 1;
  margin: 0 0 19vh 4vw;
}

.social-container {
  width: 100vw;
  height: 19vh;
  background: #1AE0EC 0% 0% no-repeat padding-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 15.625vw;
}
.social-container .content-box {
  width: 9.9vw;
  height: 7.26vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.social-container .content-box img {
  width: 2.14vw;
  height: 3.8vh;
  background: transparent 0% 0% no-repeat padding-box;
}
.social-container .content-box p {
  width: 9.9vw;
  height: 1.95vh;
  font: normal normal normal 1rem/1.5 "Heebo", sans-serif;
  letter-spacing: 0;
  color: #2C2C2C;
  margin-top: 1.95vh;
}
.social-container .content-box .helFont {
  width: 6.25vw;
  height: 1.5vh;
  font: normal normal normal 0.9rem/1.5 "Inter", sans-serif;
  margin-top: 1.95vh;
}

.copyright-section {
  width: 100%;
  height: 4.75%;
  background: #000000 0% 0% no-repeat padding-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.375em solid #1AE0EC;
}
.copyright-section p {
  color: #1AE0EC;
  margin: auto 1.594rem;
}
.copyright-section p #name {
  width: 3.9%;
  height: 2.7%;
  font: normal normal normal 1rem/1.5 "Heebo", sans-serif;
  letter-spacing: 0.03125em;
}
.copyright-section p #copy {
  width: 7.8%;
  height: 2.7%;
  font: normal normal 300 1rem/1.5 "Heebo", sans-serif;
}/*# sourceMappingURL=main.css.map */