* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.px-5 {
  padding: 0 1em !important;
}
.px-5 .visilbe {
  display: none !important;
}
.px-5 .fs-4 {
  font: normal normal 400 1.56em/1.5 "Satisfy", cursive;
}
.px-5 .navbar-toggler-icon {
  width: 1.9em;
  background-image: none;
  color: #1AE0EC;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}
.px-5 .nav-item {
  margin: 0 auto !important;
}
.px-5 .nav-item .hover-color:hover {
  color: #1AE0EC;
}
.px-5 .nav-item .nav-link {
  font: normal normal normal 1rem/0.84em "Heebo", sans-serif;
}
.px-5 .nav-item .bold-font {
  font-weight: bold;
}

@media (min-width: 767px) {
  .px-5 {
    padding: 0 1em !important;
  }
  .px-5 .nav-item + .nav-item {
    margin-left: 2em;
  }
  .px-5 .nav-link {
    font-size: 1.35rem !important;
  }
}
@media (min-width: 1200px) {
  .px-5 {
    padding: 0 7em !important;
  }
  .px-5 .nav-link {
    font-size: 1.56rem !important;
  }
}
.header-container {
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(19, 232, 241, 0.388), rgba(255, 255, 255, 0.5)), url("../../images/headerBackgroundImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 5.12em 1.38em;
}
.header-container .text-container {
  margin: 0 auto;
}
.header-container .text-container h1 {
  font: normal normal 900 2.875rem/1.46em "Heebo", sans-serif;
  color: #3A3A3A;
  margin: 0 auto 0.09em;
  text-transform: uppercase;
  text-align: center;
  max-width: 404px;
}
.header-container .text-container p {
  font: normal normal 500 0.938rem/1.23em "Heebo", sans-serif;
  color: #3A3A3A;
  margin: 0 auto;
  text-align: center;
  max-width: 844px;
}

@media (min-width: 900px) {
  .header-container .text-container h1 {
    font: normal normal 900 5rem/1.47em "Heebo", sans-serif;
  }
  .header-container .text-container p {
    font: normal normal 500 1.25rem/1.5em "Heebo", sans-serif;
  }
}
.technologies-container {
  width: 100%;
  min-height: 111px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  display: flex;
  justify-content: center;
}
.technologies-container .technologies {
  padding: 0 2.1em;
  margin: 0.48em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.technologies-container .technologies img {
  max-width: 46px;
}
.technologies-container .technologies img + img {
  margin-left: 0.5em;
}

@media (min-width: 1200px) {
  .technologies-container {
    max-height: 130px;
  }
  .technologies-container .technologies {
    width: 70%;
    padding: 0;
  }
  .technologies-container .technologies img {
    max-width: 61px;
  }
  .technologies-container .technologies img + img {
    margin-left: 1em;
  }
}
.aboutme-container {
  width: 100%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  margin: 5.94em 0;
}
.aboutme-container .aboutme-display {
  width: 90%;
  margin: 0 auto;
}
.aboutme-container .aboutme-display img {
  max-width: 141px;
  margin: 0 auto 1.88em;
}
.aboutme-container .aboutme-display .aboutme-section {
  color: #3A3A3A;
}
.aboutme-container .aboutme-display .aboutme-section h4 {
  font: normal normal 900 1.563rem/1.48em "Heebo", sans-serif;
  text-transform: uppercase;
  margin-bottom: 0.88em;
}
.aboutme-container .aboutme-display .aboutme-section p {
  font: normal normal normal 0.938rem/1.48em "Heebo", sans-serif;
  margin-bottom: 1.3em;
}
.aboutme-container .aboutme-display .aboutme-section .resume {
  width: min(35%, 260px);
  background: #1AE0EC 0% 0% no-repeat padding-box;
  margin: 0 auto;
  border-radius: 1.1rem;
}
.aboutme-container .aboutme-display .aboutme-section .resume a {
  font: normal normal 500 0.625rem/1.9em "Heebo", sans-serif;
  color: #3A3A3A;
  margin: 0 auto;
  text-decoration: none;
  text-transform: capitalize;
}

@media (min-width: 900px) {
  .aboutme-container .aboutme-display {
    width: 41%;
  }
  .aboutme-container .aboutme-display .aboutme-section h4 {
    font: normal normal 900 2.188rem/1.49em "Heebo", sans-serif;
  }
  .aboutme-container .aboutme-display .aboutme-section p {
    font: normal normal normal 1.25rem/1.45em "Heebo", sans-serif;
  }
  .aboutme-container .aboutme-display .aboutme-section .resume {
    width: min(48%, 260px);
  }
  .aboutme-container .aboutme-display .aboutme-section .resume a {
    font: normal normal bold 1.25rem/1.9em "Heebo", sans-serif;
    letter-spacing: 0.3px;
  }
}
.page-container {
  width: 100%;
  height: 100%;
  background: #F6F6F6 0% 0% no-repeat padding-box;
}
.page-container .content-container {
  width: min(1315px, 95%);
  margin: 0 auto;
  text-align: center;
  color: #3A3A3A;
  padding: 4.9em 0 7.7em;
}
.page-container .content-container h4 {
  font: normal normal 900 1.563rem/1.48em "Heebo", sans-serif;
}
.page-container .content-container p {
  font: normal normal normal 0.938rem/1.47em "Heebo", sans-serif;
}
.page-container .content-container .gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(342px, 405px));
  padding: 0;
  gap: 2em;
  justify-content: center;
}
.page-container .content-container .gallery-container .card {
  width: 100%;
  padding: 0;
}
.page-container .content-container .gallery-container .card .card-img-top {
  width: 100%;
  max-height: 223px;
}
.page-container .content-container .gallery-container .card .allContent {
  max-width: 353px;
  margin: 0 auto;
}
.page-container .content-container .gallery-container .card .allContent .contentNoBtn {
  margin-bottom: 1.3em;
}
.page-container .content-container .gallery-container .card .allContent .contentNoBtn .card-title {
  font: normal normal 500 1rem/1.5em "Heebo", sans-serif;
  margin-bottom: 1.1em;
}
.page-container .content-container .gallery-container .card .allContent .contentNoBtn .card-text {
  font: normal normal normal 1rem/1.5em "Heebo", sans-serif;
  margin: 0;
}
.page-container .content-container .gallery-container .card .allContent .contentNoBtn .project-technology-container {
  max-width: 122px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.page-container .content-container .gallery-container .card .allContent .contentNoBtn .project-technology-container img {
  max-width: 26.5px;
}
.page-container .content-container .gallery-container .card .allContent .btn {
  font: normal normal 500 0.625rem/1.9em "Heebo", sans-serif;
  color: #2C2C2C;
}

@media (min-width: 900px) {
  .page-container .content-container h4 {
    font: normal normal 900 2.25rem/1.47em "Heebo", sans-serif;
  }
  .page-container .content-container p {
    font: normal normal normal 1.25rem/1.45em "Heebo", sans-serif;
  }
  .page-container .content-container .gallery-container .card .allContent .contentNoBtn .card-title {
    font: normal normal 500 1.438rem/1.48em "Heebo", sans-serif;
  }
  .page-container .content-container .gallery-container .card .allContent .contentNoBtn .card-text {
    font: normal normal normal 1rem/1.5em "Heebo", sans-serif;
  }
  .page-container .content-container .gallery-container .card .allContent .btn {
    font: normal normal 500 0.875rem/1.86em "Heebo", sans-serif;
  }
}
.contact-us-container {
  width: 100%;
  background: #3A3A3A 0% 0% no-repeat padding-box;
  display: flex;
  flex-direction: column;
}
.contact-us-container form {
  width: min(80%, 548px);
  color: #FFFFFF;
  order: 2;
  text-align: left;
  margin: 0 auto 5.25em;
}
.contact-us-container form h4 {
  font: normal normal 900 1.563rem/1.48em "Heebo", sans-serif;
  text-align: left;
}
.contact-us-container form p {
  font: normal normal normal 0.938rem/1.47em "Heebo", sans-serif;
  text-align: left;
}
.contact-us-container form .field-section {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contact-us-container form .field-section .headline {
  text-align: left;
  font: normal normal bold 0.75rem/1.5em "Heebo", sans-serif;
}
.contact-us-container form .field-section .text {
  width: 100%;
  min-height: 28px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: #FFFFFF;
  border-bottom: 2px solid #1AE0EC;
}
.contact-us-container form .field-section textarea.text {
  min-height: 57px;
}
.contact-us-container form .field-section .text + .headline {
  margin-top: 0.35em;
}
.contact-us-container form #submit {
  width: min(100%, 94px);
  background: #1AE0EC 0% 0% no-repeat padding-box;
  font: normal normal bold 0.75rem/1.33em "Heebo", sans-serif;
  letter-spacing: 0.18px;
  color: #2C2C2C;
  border: #1AE0EC;
  border-radius: 1.1rem;
  margin-top: 1.34em;
}
.contact-us-container img {
  width: clamp(185px, 40%, 770px);
  order: 1;
  margin: 0 0.7em 0 auto;
}

@media (min-width: 1200px) {
  .contact-us-container {
    flex-direction: row;
  }
  .contact-us-container form {
    order: 1;
    margin: 10.06em auto 9.44em 15em;
  }
  .contact-us-container form h4 {
    font: normal normal 900 2.25rem/1.47em "Heebo", sans-serif;
  }
  .contact-us-container form p {
    font: normal normal normal 1.25rem/1.45em "Heebo", sans-serif;
  }
  .contact-us-container form .field-section .headline {
    font: normal normal bold 1rem/1.5em "Heebo", sans-serif;
  }
  .contact-us-container form .field-section .text {
    min-height: 50px;
  }
  .contact-us-container form .field-section textarea.text {
    min-height: 100px;
  }
  .contact-us-container form .field-section .text + .headline {
    margin-top: 0.94em;
  }
  .contact-us-container form #submit {
    width: min(100%, 166px);
    font: normal normal bold 1.375rem/1.36em "Heebo", sans-serif;
    letter-spacing: 0.33px;
  }
  .contact-us-container img {
    margin: 0 4.75em auto auto;
    order: 2;
  }
}
.section-container {
  width: 100%;
  height: 100%;
  background: #1AE0EC 0% 0% no-repeat padding-box;
}
.section-container .social-container {
  width: 80%;
  padding: 3.5em 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section-container .social-container .content-box {
  max-width: 100px;
  display: flex;
  flex-direction: column;
}
.section-container .social-container .content-box img {
  max-width: 45px;
  max-height: 45px;
  margin: 0 auto 1.3em;
}
.section-container .social-container .content-box p {
  width: 100%;
  margin: 0 auto;
  font: normal normal normal 0.938rem/1.47em "Heebo", sans-serif;
  color: #2C2C2C;
  word-wrap: break-word;
}
.section-container .social-container .content-box .helFont {
  font: normal normal normal 0.938rem/1.13em "Inter", sans-serif;
}

.copyright-section {
  width: 100%;
  background: #000000 0% 0% no-repeat padding-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.375em solid #1AE0EC;
}
.copyright-section p {
  color: #1AE0EC;
  margin: auto 1.594rem;
  padding: 0.5em;
}
.copyright-section p #name {
  font: normal normal normal 1rem/1.5 "Heebo", sans-serif;
}
.copyright-section p #copy {
  font: normal normal 300 1rem/1.5 "Heebo", sans-serif;
}

@media (min-width: 767px) {
  .section-container .social-container .content-box {
    justify-content: center;
  }
  .section-container .social-container .content-box img {
    max-width: 40px;
  }
  .section-container .social-container .content-box p {
    font: normal normal normal 0.875rem/1.5em "Heebo", sans-serif;
  }
  .section-container .social-container .content-box .helFont {
    font: normal normal normal 0.875rem/1.21em "Inter", sans-serif;
  }
}/*# sourceMappingURL=main.css.map */