.project-container {
    width: 100%;
    height: 100%;
    background: transparent linear-gradient(180deg, #281EFF 0%, #2DFF8C 100%) 0% 0% no-repeat padding-box;
    display: flex;

    .content {
        width: clamp(328px, 95%, 1100px);
        margin: 5.6em auto 6.3em;

        h1 {
            width: 100%;
            min-height: 93px;
            text-align: center;
            font: normal normal normal 3.75rem/1.43em "Satisfy", cursive;
            color: #FFFFFF;
            text-shadow: 0px 0px 36px #00000087;
            margin: 0 auto .33em;
        }

        h5 {
            width: 95%;
            text-align: center;
            color: #FFFFFF;
            font-size: 1.125rem;
            line-height: 1.22em;
            font-weight: 400;
            margin: 0 auto 1.11em;
        }

        p {
            width: 95%;
            text-align: center;
            color: #F9F9F9;
            font-size: 1rem;
            line-height: 1.25em;
            font-weight: 400;
            margin: 0 auto 1.4em;
        }

        form {
            width: min(302px, 95%);
            max-height: 169px;
            margin: 0 auto;

            .wrapper {
                width: 100%;

                .headline {
                    width: inherit;
                    text-align: center;
                    font-size: .69rem;
                    line-height: 1.712em;
                    font-weight: 400;
                    color: #F9F9F9;
                }

                .text {
                    width: inherit;
                    min-height: 36px;
                    background: #F6F6F624 0% 0% no-repeat padding-box;
                    border: .125em solid #FFFFFF;
                }

                &:nth-of-type(2) {
                    margin-top: .8em;
                }

                &:nth-of-type(2) {
                    margin-bottom: 1.04em;
                }
            }

            #submit {
                width: 100%;
                min-height: 33px;
                text-align: center;
                font-size: .6875rem;
                line-height: 1.72em;
                background: #FFFFFF 0% 0% no-repeat padding-box;
                border: #FFFFFF;
                color: #2823FD;
            }
        }
    }
}

@media (min-width: 900px) {
    .project-container {
        .content {
            margin: auto;

            h1 {
                max-width: 755px;
                max-height: 204px;
                font-size: 10rem;
                line-height: 1.29em;
            }

            h5 {
                max-width: 529px;
                font-size: 2rem;
                line-height: 1.19em;
            }

            p {
                max-width: 1028px;
                max-height: 60px;
                font-size: 1rem;
                line-height: 1.25em;
            }

            form {
                width: 100%;
                min-height: 73px;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;

                .wrapper {
                    width: 25%;
                    max-width: 418px;
                    display: flex;
                    flex-direction: column;

                    .headline {
                        width: 100%;
                        text-align: left;
                        font-size: 1rem;
                        line-height: 1.125em;
                    }

                    .text {
                        width: 100%;
                        min-height: 50px;
                    }

                    &:nth-of-type(2) {
                        margin: 0;
                    }
                }

                #submit {
                    max-width: 206px;
                    min-height: 50px;
                    font-size: 1rem;
                    line-height: 1.125em;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .wrapper {
        width: 50% !important;
    }
}