.project-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent url('../../images/Path\ 15.png') 0% 0% no-repeat padding-box;
    background-size: 100% 45.67%;
    text-align: center;

    h1 {
        max-width: 286px;
        font-weight: $fw-bold;
        color: $clr-yellowgreen;
        font-size: 1.88rem;
        line-height: 1.33em;
        margin: 2.5em auto .8em;
    }

    h6 {
        max-width: 286px;
        font-weight: $fw-regular;
        color: $clr-white;
        font-size: .94rem;
        line-height: 1.27em;
        margin: 0 auto 10em;
    }

    form {
        max-width: 286px;
        margin: 0 auto;

        .wrapper {
            width: clamp(286px, 90%, 418px);
            display: flex;
            flex-direction: column;

            .headline {
                text-align: left;
                font-size: .63rem;
                line-height: 1.39em;
            }

            .text {
                background: $clr-lightblue 0% 0% no-repeat padding-box;
                border: $clr-lightblue;
                border-bottom: 3px solid $clr-yellowgreen;
                min-height: 34px;
            }
        }
        
        .wrapper + .wrapper {
            margin-top: 1em;
        }

        #submit {
            width: 100%;
            min-height: 34px;
            background: $clr-yellowgreen 0% 0% no-repeat padding-box;
            border: $clr-gray;
            font-weight: $fw-bold;
            font-size: .875rem;
            line-height: 2em;
            margin-top: 1.62em;
            letter-spacing: 0.33px;
            color: $clr-blue;
        }
    }
}

@media (min-width: 900px) {
    .project-container {
        background-size: 100% 60%;

        h1 {
            max-width: 868px;
            font-size: 4rem;
            line-height: 1.77em;
            margin: 3em auto .36em;
        }

        h6 {
            max-width: 721px;
            margin-bottom: 15em;
            font-size: 1.25rem;
            line-height: 1.3em;
        }

        form {
            max-width: 1100px;
            display: flex;
            margin: 0 auto 4em;

            .wrapper {
                justify-content: flex-end;

                .headline {
                    font-size: 1rem;
                    line-height: 1.31em;
                }

                .text {
                    max-width: 418px;
                }
            }

            .wrapper + .wrapper {
                margin-top: 0;
                margin-left: 2.35em;
            }

            #submit {
                max-width: 166px;
                margin-top: auto;
                margin-left: 4.36em;
            }
        }
    }
}