.project-container {
    width: 100%;
    height: 100%;
    background: $clr-sky-blue 0% 0% no-repeat padding-box;
    padding: 2em;

    .content-container {
        display: grid; // giving the element a grid property
        grid-template-rows: repeat(12, 1fr); // set the grid to have 12 rows with 1fr size each
        grid-template-columns: repeat(2, minmax(130px, 1fr)); // set the grid to have 2 columns with aminimum width 130px and mmaimum width of 1fr - half in size each
        gap: .688em; // the grig gap
        padding-bottom: 2em;

        .first-view {
            background: $clr-blue 0% 0% no-repeat padding-box;
            grid-row: 1 / 3; // posisioning the element in rows 1 - 2
            grid-column: 1 / 3; // posisioning the element in columns 1 - 2
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            //for making the element to spread over the padding of the page element
            margin: -2em -2em 0; // posisioning the element at the start of the page for the next part
            width: calc(100% + 4em); // adding more width to the element then 100% so it could take the space of the gap in the grid

            h1 {
                width: 90%;
                font-family: $ff-assistant;
                font-size: 2.25rem;
                line-height: 1.31em;
                font-weight: $fw-bold;
                color: $clr-light-blue;
            }

            h6 {
                width: 90%;
                font-family: $ff-assistant;
                font-size: 1.25rem;
                line-height: 1.3em;
                font-weight: $fw-regular;
                color: $clr-white-shadow;
            }
        }

        .experience-form { // the form section in the project
            background: $clr-purple 0% 0% no-repeat padding-box;
            grid-row: 7 / 10; // posisioning the element in rows 7 - 9
            grid-column: 1 / 3; // posisioning the element in columns 1 - 2
            text-align: center;

            h1 {
                width: 90%;
                font-family: $ff-assistant;
                font-size: 1.563rem;
                line-height: 1.32em;
                font-weight: $fw-bold;
                color: $clr-white;
                margin: 2.3em auto .56em;
            }

            h6 {
                width: 90%;
                font-family: $ff-assistant;
                font-size: .938rem;
                line-height: 1.27em;
                font-weight: $fw-regular;
                color: $clr-white-shadow;
                margin: 0 auto 2em;
            }

            form {
                width: 90%;
                display: flex;
                flex-direction: column;
                text-align: left;
                margin: 0 auto;

                .headline {
                    font-family: $ff-heebo;
                    font-size: .438rem;
                    line-height: 1.43em;
                    font-weight: $fw-bold;
                    color: $clr-light-blue;
                    margin-bottom: .9em;
                }

                .text {
                    min-height: 33px;
                    background: $clr-white-shadow 0% 0% no-repeat padding-box;
                    border: $clr-white-shadow;
                    margin-bottom: 1.26em;

                    border-bottom: 3px solid $clr-light-blue;
                }

                textarea.text {
                    min-height: 96px;
                }

                #submit {
                    background: $clr-light-blue 0% 0% no-repeat padding-box;
                    border: $clr-light-blue;
                    font-family: $ff-heebo;
                    font-size: .75rem;
                    line-height: 1.34em;
                    font-weight: $fw-bold;
                    letter-spacing: 0.18px;
                    color: #011560;
                    margin-top: .95em;
                    min-height: 33px;
                    margin: .95em 0 5.2em;
                }
            }
        }

        .decoration-img {
            width: 100%;
            object-fit: contain; // The image keeps its aspect ratio, but is resized to fit within the given dimension
        }
    }
}

@media (min-width: 767px) { // responsive for tablet screen size
    .project-container {
        .content-container {
            grid-template-rows: repeat(8, 1fr); // set the grid to have 8 rows with 1fr size each
            grid-template-columns: repeat(3, 1fr); // set the grid to have 3 columns with 1/3 size each

            .first-view {
                width: 100%;
                margin: 0;
                grid-row: 1 / 3; // posisioning the element in rows 1 - 2
                grid-column: 2 / 4; // posisioning the element in columns 2 - 3

                h1 {
                    width: 80%;
                    font-size: 3.813rem;
                    line-height: 1.32em;
                }

                h6 {
                    width: 80%;
                    font-size: 1.25rem;
                    line-height: 1.3em;
                }
            }

            .experience-form {
                grid-row: 5 / 8; // posisioning the element in rows 5 - 7
                grid-column: 1 / 3; // posisioning the element in columns 1 - 2
            }
        }
    }
}

@media (min-width: 900px) { // responsive for big tablet and desktop screen size
    .project-container {
        .content-container {
            grid-template-columns: repeat(4, 1fr); // set the grid to have 4 columns with 1fr size each
            grid-template-rows: repeat(6, 1fr); // set the grid to have 6 rows with 1fr size each
            gap: 1.25em; // the grig gap

            .first-view {
                grid-row: 1 / 3; // posisioning the element in rows 1 - 2
                grid-column: 3 / 5; // posisioning the element in columns 3 - 4
            }

            .experience-form {
                grid-row: 4 / 7; // posisioning the element in rows 4 - 6
                grid-column: 1 / 3; // posisioning the element in columns 1 - 2

                h1 {
                    font-size: 2.188rem;
                    line-height: 1.32em;
                }

                h6 {
                    font-size: 1.25rem;
                    line-height: 1.3em;
                }

                form {

                    .headline {
                        font-size: 1rem;
                        line-height: 1.5em;
                    }

                    .text {
                        min-height: 60px;
                    }

                    textarea.text {
                        min-height: 172px;
                    }

                    #submit {
                        min-height: 60px;
                        font-size: 1.5rem;
                        line-height: 1.3em;
                    }
                }
            }

            .decoration-img {
                height: 100%;
                object-fit: cover; // The image keeps its aspect ratio and fills the given dimension. The image will be clipped to fit
            }
        }
    }
}