* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #343a40;
    color: #f8f9fa;
    padding: 20px;
}

header {
    background-color: #007bff;
}

header h1 {
    margin: 0;
}

.country-card {
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    color: #343a40;
    overflow: hidden;
}

.country-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.country-flag {
    height: 300px;
    object-fit: cover;
    border-bottom: 2px solid #007bff;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #007bff;
}

.country-info p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.country-info p strong {
    color: #007bff;
}

.country-map {
    text-align: center;
}

.map-link {
    transition: background-color 0.3s;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
}

.map-link:hover {
    background-color: #0056b3;
}

.card-footer {
    background-color: #f8f9fa;
    border-top: 1px solid #e9ecef;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bi {
    color: red;
    font-size: 1.5rem;
}

.bi:hover {
    cursor: pointer;
}

.back-button {
    transition: background-color 0.3s;
    background-color: #6c757d;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.back-button:hover {
    background-color: #5a6268;
}
