* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 7.41%;
  max-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  border-top: 0.1875em solid #1AE0EC;
  z-index: 100;
}
.navbar .profile {
  width: 8.23%;
  height: 77.5%;
  display: flex;
  align-items: center;
  margin-right: 0;
  margin-left: 15.6%;
}
.navbar .profile img {
  width: 43.48%;
  height: 100%;
  border-radius: 50%;
}
.navbar .profile h6 {
  width: 56.52%;
  height: 34.33%;
  font-family: "Satisfy", cursive;
  font-size: 1.5625em;
  color: #444444;
  white-space: nowrap;
  margin-left: 10.76%;
}
.navbar .toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}
.navbar .links {
  width: 27.87%;
  height: 46.25%;
  margin-right: 13%;
}
.navbar .links ul {
  display: flex;
  margin: 0;
  padding: 0;
}
.navbar .links ul li {
  list-style: none;
}
.navbar .links ul li:not(:last-child) {
  margin-right: 11.41%;
}
.navbar .links ul li a {
  font: normal normal 400 1.56rem/1.5 "Heebo", sans-serif;
  text-decoration: none;
  color: #2C2C2C;
  display: block;
}
.navbar .links ul li a:hover {
  color: #1AE0EC;
}
.navbar .links ul li:last-child a:hover {
  color: #000;
}
.navbar .links ul li #main-btn {
  font: normal normal bold 1.56rem/1.5 "Heebo", sans-serif;
  color: #1AE0EC;
}

@media (max-width: 767px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar .toggle-button {
    display: flex;
    top: 2.5vh;
    right: 2rem;
  }
  .navbar .toggle-button:hover + .links {
    display: block;
    flex-direction: column;
  }
  .navbar .links {
    display: none;
    text-align: center;
  }
  .navbar .links ul {
    width: 100vw;
    flex-direction: column;
  }
  .navbar .links a {
    display: block;
  }
}
.header-container {
  width: 100%;
  height: 42.69%;
  background-image: linear-gradient(to bottom, rgba(19, 232, 241, 0.388), rgba(255, 255, 255, 0.5)), url("../../../../projectName5/overview/images/headerBackgroundImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-container .text-container {
  width: 44%;
  height: 21.9%;
  margin: 5% auto 2%;
}
.header-container .text-container h1 {
  width: 56 0.5%;
  height: 65.2%;
  font: normal normal 900 5em/1.5 "Heebo", sans-serif;
  color: #3A3A3A;
  text-align: center;
  margin-bottom: 2.21%;
}
.header-container .text-container p {
  width: 100%;
  height: 34.8%;
  font: normal normal 500 1em/1.5 "Heebo", sans-serif;
  color: #3A3A3A;
  text-align: center;
  margin: 0;
}
.header-container .links-container {
  width: 100%;
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6%;
  gap: 0.74%;
}
.header-container .links-container .overview {
  width: 7.97%;
  height: 100%;
  background-color: #1AE0EC;
  border-radius: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-container .links-container .overview a {
  width: 95%;
  height: 70%;
  font: normal normal 500 0.8em/1.5 "Heebo", sans-serif;
  color: #3A3A3A;
  text-decoration: none;
  text-align: center;
}

.technologies-container {
  width: 100%;
  height: 12.04%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0em 0.1875em 0.375em rgba(0, 0, 0, 0.1607843137);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.technologies-container .technologies {
  width: 24.22%;
  height: 9.26%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.technologies-container .technologies img {
  width: 21.51%;
  height: 100%;
}

.overview-container {
  width: 100%;
  height: 93.9%;
  background: #EBFEFF 0% 0% no-repeat padding-box;
}
.overview-container img {
  width: 61.93%;
  height: 70.81%;
  margin: 6% 19.02% 18.15% 19.04%;
  box-shadow: 0px 0px 2.5em rgba(0, 0, 0, 0.4);
}

.copyright-section {
  width: 100%;
  height: 4.75%;
  background: #000000 0% 0% no-repeat padding-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.375em solid #1AE0EC;
}
.copyright-section p {
  color: #1AE0EC;
  margin: auto 1.594rem;
}
.copyright-section p #name {
  width: 3.9%;
  height: 2.7%;
  font: normal normal normal 1rem/1.5 "Heebo", sans-serif;
  letter-spacing: 0.03125em;
}
.copyright-section p #copy {
  width: 7.8%;
  height: 2.7%;
  font: normal normal 300 1rem/1.5 "Heebo", sans-serif;
}/*# sourceMappingURL=main.css.map */